<div class="page-container">
	<div class="side-bar">
		<ul class="nav flex-column">
	  	<li class="nav-item">
	    	<a class="nav-link active" routerLink="home">
					<ion-icon name="list" matTooltip="Contact List"></ion-icon>
				</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" routerLink="new-contact">
					<ion-icon name="add" matTooltip="Create New Contact"></ion-icon>
				</a>
	  	</li>
		</ul>
	</div>
	<div class="content-container">
 		<router-outlet></router-outlet>
	</div>
</div>
